# Comment out as not in score yet
# *                                              @eclipse-score/infrastructure-tooling-community
# .github                                        @eclipse-score/infrastructure-tooling-community

# docs/concepts                                  @eclipse-score/automotive-score-committers
# docs/glossary                                  @eclipse-score/automotive-score-committers
# docs/features/<feature-name>/architecture      @eclipse-score/automotive-score-committers
# docs/features/<feature-name>/requirements      @eclipse-score/automotive-score-committers @eclipse-score/technical-lead
# docs/features/<feature-name>/safety_analysis   @eclipse-score/automotive-score-committers @eclipse-score/safety-manager
# docs/features/<feature-name>/safety_planning   @eclipse-score/safety-manager @eclipse-score/technical-lead
# docs/features/<feature-name>/verification      @eclipse-score/quality-manager @eclipse-score/safety-manager
# docs/manual                                    @eclipse-score/automotive-score-committers
# docs/overview                                  @eclipse-score/project-lead
# docs/pmp/change_management                     @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/config_management                     @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/documentation_management              @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/problem_resolution                    @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/project_management                    @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/quality_management                    @eclipse-score/quality-manager @eclipse-score/process-community
# docs/pmp/release_management                    @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/requirements_management               @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/risk_management                       @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/safety_management                     @eclipse-score/safety-manager @eclipse-score/process-community
# docs/pmp/security_management                   @eclipse-score/security-manager @eclipse-score/process-community
# docs/pmp/software_development                  @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/software_verification                 @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/stakeholder_management                @eclipse-score/technical-lead @eclipse-score/process-community
# docs/pmp/tool_management                       @eclipse-score/technical-lead @eclipse-score/process-community
# docs/requirements/stakeholder                  @eclipse-score/automotive-score-committers @eclipse-score/technical-lead
# docs/requirements/tool                         @eclipse-score/infrastructure-tooling-community @eclipse-score/process-community
# docs/release                                   @eclipse-score/quality-manager @eclipse-score/technical-lead
# docs/safety                                    @eclipse-score/safety-manager @eclipse-score/technical-lead
# docs/security                                  @eclipse-score/security-manager @eclipse-score/technical-lead 
# docs/tutorials                                 @eclipse-score/automotive-score-committers

# examples                                       @eclipse-score/automotive-score-committers
# integration_tests/feature                      @eclipse-score/automotive-score-committers
# integration_tests/platform                     @eclipse-score/automotive-score-committers
# tools                                          @eclipse-score/infrastructure-tooling-community

# in a separate repository:
# process                                        @eclipse-score/process-community

# in separate repositories:
# modules/<module_name>/docs/manual              @eclipse-score/automotive-score-committers @eclipse-score/safety-manager
# modules/<module_name>/docs/release             @eclipse-score/quality-manager @eclipse-score/module-lead
# modules/<module_name>/docs/safety_plan         @eclipse-score/safety-manager @eclipse-score/module-lead
# modules/<module_name>/docs/safety_analysis     @eclipse-score/automotive-score-committers @eclipse-score/safety-manager
# modules/<module_name>/docs/verification        @eclipse-score/quality-manager @eclipse-score/safety-manager
# modules/<module_name>/components               @eclipse-score/automotive-score-committers

